@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');

.Home {
  text-align: center;
  padding: 15px 15px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/gsmappp1.png);
  /* background: linear-gradient(rgb(10, 49, 80) , #f9f9f9); */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}



.Home h1 {
  text-align: center;
}

.reach-percentage {
  top: 35%;
  right: 0;
  max-width: 170px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 12px;
  position: fixed;
  font-family: "Smooch sans", sans-serif;
}

.color-codes-info {
  position: fixed;
  background: #FFF;
  text-align: left;
  left: 20px;
  bottom: 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .color-codes {
    border-right: 50px solid blue;
  }
}

.color-codes:nth-child(1) {
  border-right-color: green;
}

.home-navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.logo {
  width: 80px;
}

@media (min-width: 768px) {
  .Home {
    padding: 40px 40px 0 40px;
  }
  .logo {
    width: 120px;
}
}